// $primary: #6900ff;
// $secondary: #9951ff;
// $accent: #ffd700;
$primary: #007bff;
$secondary: #3D0AA6;
$accent: #6F98EC;
$dull: #faf7ff;

.primary {
  background: $primary;
  color: #fff;
}

.secondary {
  background: $secondary;
  color: #fff;
}

.accent {
  background: $accent;
  color: #fff;
}

.dull {
  background: $dull;
  color: #333;
}

.primary-text {
  color: $primary;
}

.secondary-text {
  color: $secondary;
}

.accent-text {
  color: $accent;
}

.dull-text {
  color: $dull;
}
