@import url("https://fonts.googleapis.com/css?family=Roboto:400,600");
// @import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700");
// $font-family: "Josefin Sans", arial, sans-serif;
$font-family: 'Open Sans', sans-serif;
$font-md: 400;
$font-bold: 600;

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: $font-bold;
//   line-height: 1.1;
// }

// p {
//   line-height: 1.428571429;
// }
