@media only screen and (min-width: 1200px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

hr {
  border: 0.5px solid rgb(233, 233, 233);
  margin: 1.66rem 0;
}

.section-title {
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: start;
}

a {
  text-decoration: none;
  color: #333;
}

.highlight {
  color: $accent;
}
