.my-btn {
  background: $primary;
  color: rgba(255, 255, 255, 0.897);
  text-transform: uppercase;
  border-radius: 2px;
  border: 0;
  padding: 16px 45px;
  font-size: 0.7rem;
  font-weight: 600;
}
.cards-wrapper {
  display: grid;
  grid-gap: 20px;
}

@media only screen and (min-width: 700px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: 0 auto;
    grid-gap: 30px;
  }


}

@media only screen and (min-width: 1000px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    margin: 0 auto;
    grid-gap: 30px;
  }

  .my-btn {
    padding: 18px 50px;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1600px) {
  .cards-wrapper {
    // grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-row-gap: 60px;
  }
}
